.wrapper {
  display: grid;
  position: relative;
  grid-template-rows: 1fr auto;
  min-width: 270px;
  text-align: center;
  justify-content: center;
  background: #f9f9f9;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  padding: 10px;
  animation: appear 1s;
}

.wrapper:hover {
  background: #eeeeee;
}

.icon svg {
  width: 50px;
  height: 50px;
}

@keyframes appear {
  from {
    top: 60vh;
  }

  to {
    top: 0;
  }
}