.form {
  position: relative;
  max-width: 620px;
  text-align: center;
  background: var(--background-operator);
  border: 1px solid var(--border-operator);
  border-radius: 16px;
  padding: 20px;
  margin: 100px auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}

.input {
  min-height: 45px;
  min-width: 275px;
  border-radius: 8px;
  border: 1px solid var(--border-operator);
  font-size: 16px;
  padding: 11px;
}

.input:focus {
  outline: none;
  border: 1px solid var(--input-focus-border);
}

.input::placeholder {
  color: var(--input-placeholder);
}

.inputError {
  border: 1px solid red;
}

.p {
  font-size: 14px;
  margin: 0;
  text-align: right;
  color: #bf1650;
}

.p::before {
  display: inline;
  content: "⚠ ";
}

.label {
  display: inline-block;
  margin: 0 auto 0 0;
}

.input[type="submit"] {
  opacity: 0.4;
  margin-top: 20px;
  color: var(--font-submit);
  background: var(--background-submit);
  font-weight: bold;
}

.inputActive[type="submit"] {
  opacity: 1;
}

.inputActive[type="submit"]:hover {
  background: var(--background-submit-hover);
  cursor: pointer;
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-columns: 280px;
    gap: 15px;
    justify-content: center;
  }

  .inputWrapper {
    align-items: center;
  }

  .form {
    width: auto;
    margin: 0 20px;
  }

}

.errorWrapper {
  position: absolute;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 8px;
  padding: 20px;
  background: rgb(255, 115, 115);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 184px;
}

.error {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.button {
  display: inline-block;
  color: var(--font-submit);
  background: var(--background-submit);
  font-weight: bold;
  border: 1px solid var(--border-operator);
  font-size: 16px;
  line-height: 24px;
  padding: 0 10px
}

.button:hover {
  background: var(--background-submit-hover);
}

.title {
  color: var(--form-title);
  font-size: 20px;
  margin-bottom: 13px;
}

.succesWrapper {
  position: absolute;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 8px;
  padding: 20px;
  background: rgb(49, 255, 84);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 184px;
  animation: slide 0.5s;
}

.success {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

@keyframes slide {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 184px;
  }
}