.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 10px;
}

@media (max-width: 870px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}